Repository TheBenKnee/CS-472-Senior-Design-Project, pull requests merged in 2023-03, with the labels that each got.

#56 COL-89 Created test for Damage.cs
  Assets/Scripts/Generic Scripts/Damage.cs
  Assets/Scripts/Generic Scripts/NonGenericHealthImplementationForTest.cs
  Assets/Tests/EditMode/Scripts/Generic Scripts/DamageTest.cs
Labels: unit tests

#59 PathFinding Prototype
  Assets/Resources/tileHighLight.png
  Assets/Resources/tileHighLight.png.meta
  Assets/Scripts/TileMapDemoScripts/BaseTile.cs
  Assets/Scripts/TileMapDemoScripts/HighlightTile.cs
  Assets/Scripts/TileMapDemoScripts/HighlightTile.cs.meta
  Assets/Scripts/TileMapDemoScripts/MapManager.cs
  Assets/Scripts/TileMapDemoScripts/PathFinding.cs
  Assets/Scripts/TileMapDemoScripts/PathFinding.cs.meta
  Assets/Scripts/TileMapDemoScripts/Player.cs
Labels: new feature

#61 COL-86 Generic Storage System
  Assets/Scripts/Inventory/Storage.cs
  Assets/Scripts/NPC/Pawn.cs
Labels: new feature

#62 COL-100 Tests for Storage System
  Assets/Tests/EditMode/Inventory/StorageTests.cs
Labels: unit tests

#63 Created a script and test scene to generate a map
  Assets/Prefabs/TestPrefabs.meta
  Assets/Prefabs/TestPrefabs/grass.prefab
  Assets/Prefabs/TestPrefabs/grass.prefab.meta
  Assets/Prefabs/TestPrefabs/rock.prefab
  Assets/Prefabs/TestPrefabs/rock.prefab.meta
  Assets/Prefabs/TestPrefabs/sand.prefab
  Assets/Prefabs/TestPrefabs/sand.prefab.meta
  Assets/Prefabs/TestPrefabs/water.prefab
  Assets/Prefabs/TestPrefabs/water.prefab.meta
  Assets/Resources/sand.png
  Assets/Resources/sand.png.meta
  Assets/Scenes/MapGenerator.unity
  Assets/Scenes/MapGenerator.unity.meta
  Assets/Scripts/Inventory/Storage.cs.meta
  Assets/Scripts/TileMapDemoScripts/PerlinNoiseMap.cs
  Assets/Scripts/TileMapDemoScripts/PerlinNoiseMap.cs.meta
  Assets/Tests/EditMode/Inventory/StorageTests.cs.meta
Labels: new feature, unit tests

#66 BaseTile and RockTile Unit Tests
  Assets/Scripts/TileMapDemoScripts/BaseTile.cs
  Assets/Scripts/TileMapDemoScripts/MapManager.cs
  Assets/Tests/EditMode/BaseTile.meta
  Assets/Tests/EditMode/BaseTile/BaseTileTest.cs
  Assets/Tests/EditMode/BaseTile/BaseTileTest.cs.meta
  Assets/Tests/EditMode/BaseTile/RockTileTest.cs
  Assets/Tests/EditMode/BaseTile/RockTileTest.cs.meta
Labels: unit tests

#71 Ct UI unit testing
  Assets/Scripts/UI/MainMenuManager.cs
  Assets/Tests/EditMode/UI/MainMenuManagerTest.cs
  Assets/Tests/EditMode/UI/MainMenuManagerTest.cs.meta
Labels: unit tests

#77 Unit Testing + Refactoring + PawnEditor Fixes
  Assets/Resources/generic.png
  Assets/Resources/generic.png.meta
  Assets/Scripts/GameManagers/GridManager.cs
  Assets/Scripts/GameManagers/LaborOrderManager.cs
  Assets/Scripts/GameManagers/LaborOrderManager_VM.cs
  Assets/Scripts/GameManagers/LaborOrders/LaborOrder_Base_VM.cs
  Assets/Scripts/GameManagers/LaborOrders/LaborOrder_Woodcut_VM.cs
  Assets/Scripts/GameManagers/PathfindingManager.cs
  Assets/Scripts/GameManagers/Pawn_VM.cs
  Assets/Scripts/GameManagers/Pawn_VM.prefab
  Assets/Scripts/GameManagers/Pawn_VM.prefab.meta
  Assets/Scripts/GameManagers/Tiles/BaseTile_VM.cs
  Assets/Scripts/GameManagers/Tiles/GrassTile_VM.cs
  Assets/Scripts/GameManagers/Tiles/RockTile_VM.cs
  Assets/Scripts/GameManagers/Tiles/WaterTile_VM.cs
  Assets/Tests/EditMode/CombinedManagers.meta
  Assets/Tests/EditMode/CombinedManagers/BaseTile_VM_Tests.cs
  Assets/Tests/EditMode/CombinedManagers/BaseTile_VM_Tests.cs.meta
  Assets/Tests/EditMode/CombinedManagers/GridManager_Tests.cs
  Assets/Tests/EditMode/CombinedManagers/GridManager_Tests.cs.meta
  Assets/Tests/EditMode/CombinedManagers/LaborOrderManager_VM_Tests.cs
  Assets/Tests/EditMode/CombinedManagers/LaborOrderManager_VM_Tests.cs.meta
  Assets/Tests/EditMode/CombinedManagers/LaborOrder_Base_VM_Tests.cs
  Assets/Tests/EditMode/CombinedManagers/LaborOrder_Base_VM_Tests.cs.meta
  Assets/Tests/EditMode/CombinedManagers/Pawn_VM_Tests.cs
  Assets/Tests/EditMode/CombinedManagers/Pawn_VM_Tests.cs.meta
  Assets/editor/PawnEditor.cs
Labels: bug fix, unit tests, refactor

#79 Added labor order panel prototype.
  Assets/Prefabs/UI/LaborOrderPawnButton.prefab
  Assets/Prefabs/UI/LaborOrderPawnButton.prefab.meta
  Assets/Prefabs/UI/Text.prefab
  Assets/Prefabs/UI/Text.prefab.meta
  Assets/Scenes/CombinedManagers.unity
  Assets/Scenes/GameUI.unity
  Assets/Scenes/GameUI.unity.meta
  Assets/Scripts/UI/LaborOrderPanelManager.cs
  Assets/Scripts/UI/LaborOrderPanelManager.cs.meta
  Assets/Scripts/UI/PawnButton.cs
  Assets/Scripts/UI/PawnButton.cs.meta
Labels: new feature

#80 Revert "Added labor order panel prototype." (DOESN'T COUNT FOR PRs)
  Assets/Prefabs/UI/LaborOrderPawnButton.prefab
  Assets/Prefabs/UI/LaborOrderPawnButton.prefab.meta
  Assets/Prefabs/UI/Text.prefab
  Assets/Prefabs/UI/Text.prefab.meta
  Assets/Scenes/CombinedManagers.unity
  Assets/Scenes/GameUI.unity
  Assets/Scenes/GameUI.unity.meta
  Assets/Scripts/UI/LaborOrderPanelManager.cs
  Assets/Scripts/UI/LaborOrderPanelManager.cs.meta
  Assets/Scripts/UI/PawnButton.cs
  Assets/Scripts/UI/PawnButton.cs.meta
Labels: feature expansion

#78 Add in functionality for settings menu and exiting game
  Assets/Art/GUI.png
  Assets/Art/GUI.png.meta
  Assets/Packages/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
  Assets/Packages/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
  Assets/Scenes/Main Menu.unity
  Assets/Scenes/Test Scenes/BasicSaveLoadTest.unity
  Assets/Scripts/UI/Exit.cs
  Assets/Scripts/UI/Exit.cs.meta
  Assets/Scripts/UI/MainMenuManager.cs
  Assets/Scripts/UI/PanelManager.cs
  Assets/Scripts/UI/Settings Menu.cs
  Assets/Scripts/UI/Settings Menu.cs.meta
  Assets/UI Toolkit.meta
  Assets/UI Toolkit/UnityThemes.meta
  Assets/UI Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss
  Assets/UI Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss.meta
Labels: feature expansion, assets

#81 Added labor order panel prototype (update).
  Assets/Prefabs/Text.prefab
  Assets/Prefabs/Text.prefab.meta
  Assets/Prefabs/UI/LaborOrderPawnButton.prefab
  Assets/Prefabs/UI/LaborOrderPawnButton.prefab.meta
  Assets/Scenes/CombinedManagers.unity
  Assets/Scripts/UI/LaborOrderPanelManager.cs
  Assets/Scripts/UI/LaborOrderPanelManager.cs.meta
  Assets/Scripts/UI/PawnButton.cs
  Assets/Scripts/UI/PawnButton.cs.meta
Labels: new feature

#82 More UI Changes
  Assets/Packages/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
  Assets/Packages/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
  Assets/Scenes/Main Menu.unity
  Assets/Scripts/UI/MainMenuManager.cs
Labels: feature expansion, refactor
